<?xml version="1.0" encoding="utf-8" ?>

<config>
    <default>
        <carriers>
            <intelipost_tracking>
                <active>1</active>
                <webhook_enabled>0</webhook_enabled>
                <model>Intelipost\Tracking\Model\Intelipost\Quote\Carrier\Intelipost</model>
                <title>Intelipost Tracking</title>
                <name>Intelipost Tracking</name>
            </intelipost_tracking>
        </carriers>
    </default>
</config>

