<?xml version="1.0" encoding="utf-8" ?>
<!--
/*
 * @package     Intelipost_Tracking
 * @copyright   Copyright (c) 2017 Gamuza Technologies (http://www.gamuza.com.br/)
 * @author      Eneias Ramos de Melo <eneias@gamuza.com.br>
 */
-->

<config>
    <module name="Intelipost_Tracking" setup_version="1.0.0">
        <sequence>
            <module name="Intelipost_Basic" />
        </sequence>
    </module>
</config>

